Package: logitech-sim-led
Version: @VERSION@
Section: misc
Priority: optional
Architecture: amd64
Maintainer: Glenn Schuurman <glennschuurman@gmail.com>
Depends: libudev1
Homepage: https://github.com/gschuurman/logitech-sim-led
Description: Telemetry to Logitech wheel LED service
 Cross-platform background service that ingests Forza Horizon 5/6 and
 Forza Motorsport telemetry and drives the RPM shift-light LEDs on a
 Logitech G27/G29/G923 wheel. See /usr/share/doc/logitech-sim-led/README.md.
